<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbConn" connectionString="Server=studentpsql.miun.se;Port=5432;
Database=ik102g_8;User Id=ik102g_8; Password=Databas8888;
SslMode=Require;"/>
  </connectionStrings>
</configuration>